body {
    /* for fixed header*/
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

/* Map */

#map-container {
    position: absolute;
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#map-container #map-sidebar {
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    padding: 15px;
}

#map-container #map-content {
    position: absolute;
    left: 300px;
    top: 0;
    bottom: 0;
    right: 0;
}

.leaflet-container {
    background: #19191b;
    background-image: url("/assets/img/grid.png");
}

.leaflet-marker-pane img {
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}
.leaflet-marker-pane img:hover {
    margin-left: -32px !important;
    margin-top: -32px !important;
    height: 64px !important;
    width: 64px !important;
    border: 6px solid;
    border-radius: 32px;
    border-color: rgba(252, 151, 13, 0.2);
}

.leaflet-popup-content-wrapper {
  background:rgba(120, 120, 120, 0.2);
  color:#fff;
  font-family: 'Dosis', sans-serif;
  font-size:18px;
  pointer-events: none;
  border-radius: 0px;
}
.leaflet-popup-content{
    margin: 5px 10px;
}
.leaflet-popup-tip-container, .leaflet-popup-close-button {
  display: none;
}

/* Header */

.navbar {
    background-color: #fff;
}

.navbar .navbar-brand, .navbar .navbar-nav>li>a {
    font-weight: 500;
    color: #563d7c;
}

/* Other */

.jumbotron {
    padding-top: 18px;
    padding-bottom: 18px;
}
