<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello Agent!</h1>
        <p>Words words words.  Words words words.  Words words words.  Words words words.  Words words words.  Words words words.  Words words words.  Words words words.  Words words words.  Words words words.  </p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Interactive Map</h2>
            <p>This is a fully functional darkzone map with panning, zooming, and markers to help show all the important points of interest.</p>
            <p><a class="btn btn-default" ui-sref="map" role="button">View Map</a></p>
        </div>
        <div class="col-md-4">
            <h2>Filter Markers</h2>
            <p>Customize your map by altering which of the map markers you want to see.  Do you know where all the darkzone entrances are and feel it will clutter the map?  Simply turn them off and you dont ever have to see them again.</p>
            <p><a class="btn btn-default" ui-sref="map" role="button">View Map</a></p>
        </div>
        <div class="col-md-4">
            <h2>Create & Share Paths</h2>
            <p>Everyone has a different path they like to use.  Some of us even like to share them with friends or the community.  With this simple tool, you're easily able to create and share your own favorite paths.</p>
            <p><a class="btn btn-default" ui-sref="map" role="button">View Map</a></p>
        </div>
    </div>
</div>
