<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello Agent!</h1>
        <p>
            Welcome to The Division Agent! I've created this site for the sole purpose of providing
            the easiest to use tools for the game! New and exciting features are continuously added
            in order to stay ahead. I'd love to know what you think, so if there's something you'd
            like to see implemented on the site be sure to contact me!
        </p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Interactive Map</h2>
            <p>This is a fully functional darkzone map with panning, zooming, and markers to help show all the important points of interest.  Easily enable and disable marker types for less clutter on your map.</p>
            <p><a class="btn btn-default" ui-sref="map" role="button">View Map</a></p>
        </div>
        <div class="col-md-4">
            <h2>Create & Share Paths</h2>
            <p>Everyone has a different path they like to use.  Some of us even like to share them with friends or the community.  With this simple tool, you're easily able to create and share your own favorite paths.</p>
            <p><a class="btn btn-default" ui-sref="map" role="button">View Map</a></p>
        </div>
        <div class="col-md-4">
            <h2>Planned Updates:</h2>
            <ul>
                <li>Mobile Friendly Design (Coming Later Today!)</li>
                <li>Improve map imagery (Vector?)</li>
                <li>Add thumbnail on location hover</li>
                <li>Add named boss profiles</li>
                <li>Other Pages?</li>
            </ul>
        </div>
    </div>
</div>
<div style="height: 400px;"></div>
<footer class="blog-footer">
    <p>Created By Michael Lynch (<a href="http://www.reddit.com/u/gamegenius86" target="_blank">/u/gamegenius86</a>)</p>
    <p><a href="https://www.paypal.me/yourfriend" target="">Buy me a beer!</a></p>
</footer>
