<div id="map-container">
    <div id="map-sidebar">
        <div class="sidebar-component">
            <h4>Map Filters<small>(Click to Toggle)</small></h4>
            <div class="filter-item" ng-repeat="filter in vm.filters" ng-click="vm.toggleFilter(filter)" ng-class="{'disabled': !filter.enabled}">
                <img ng-src="{{filter.icon}}"/>
                <span ng-bind="filter.name"></span>
                <small ng-show="filter.comingSoon">(Coming Soon)</small>
            </div>
            <br><a class="block-link" style="display:block;" ng-click="vm.toggleAllFilters()">Hide / Show All Filters</a>
        </div>

        <div class="sidebar-component">
            <h4>Custom Map Paths<small>Coming Soon</small></h4>
            <a class="block-link" style="display:block;">Create & Share Path</a>
        </div>

        <div class="sidebar-component">
            <div id="map-sidebar-footer">
                <div>Created By <a href="#">Michael Lynch</a></div>
            </div>
        </div>
    </div>
    <map id="map-content"></map>
</div>
